name: go test

permissions:
  pull-requests: read
  contents: read

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  test:
    uses: go-openapi/ci-workflows/.github/workflows/go-test.yml@e77a5bc724d0ab14dd086ee6e13153129ddfe3f9 # v0.2.2
    secrets: inherit
